@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-left">
    <h1>Privacy Policy</h1>
</div>

<p>Please note: All messages are public and are stored unencrypted in a database. Therefore please do not share any personal or private information. Chat responsibly!</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}